{% extends ('base.html.twig') %}
    {% block welcomeMessage %}
        {% if app.user %}
            <h2 class="col-sm-6">Hello {{ app.user.username|upper }} ! </h2>
        {% endif %}
    {% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" title="Deconnection">Logout </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('wish_add') }}" title="Add an idea">Add an idea</a>
                    </li>
                {% else %}
                    <a class="nav-link" href="{{ path('app_register') }}" title="Registration">Registration </a>
                    <a class="nav-link" href="{{ path('app_login') }}" title="Login">Login </a>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wish_list') }}" title="Wish list">Idea list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_about-us') }}" title="About us">About us</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
