{% extends ('base.html.twig') %}
{% block pageName %} Detail {% endblock %}
{% block nav %}
    <li><a href="{{ path('main_home') }}" title="GO back home">Home </a></li>
    <li><a href="{{ path('wish_list') }}" title="GO back list">Idea List </a></li>
{% endblock %}
{% block body %}
    {{ parent() }} <br>
    <div class=container-fluid>
        <h2>{{ record.title }}</h2>
        <p>{{ record.author }}</p>
        <p>{{ record.category.name }}</p>
        <p>{{ record.description }}</p>
        <p>{{ record.dateCreated|date('Y-m-d') }}</p>
    </div>
{% endblock %}

