<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ asset("css/style.css") }}>
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}"/>
    <title> {% block title %} BucketList {% endblock %}</title>
</head>
{% block body %}
    <body>
    <header>
        <a href="{{ path('main_home') }}" title="GO back home">
            <img class="logo" src="{{ asset('img/logo-512.png') }}" alt="Logo">
        </a>
    </header>
    <main>
        <h1>BucketList - {% block pageName %} Home {% endblock %}</h1>
        {% block nav %}
        {% endblock %}
    </main>
    </body>
{% endblock %}
<footer>
    ©Bucket-List {{ "now"|date("Y") }}
</footer>
</html>